imageio==2.8.0
imutils==0.5.3
joblib==0.15.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.2.1
numpy==1.18.1
opencv-contrib-python==4.2.0.32
Pillow==7.0.0
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
tensorflow==1.15.2
tensorflow-tensorboard==1.5.1
Click==7.0
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.6
